<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>https://code-jump.com/demo/html/store1/index.html</title>
<link rel="stylesheet" href="./css/style.css">
<script src="./js/jquery-3.7.1.min.js"></script>
<script src="./js/script.js"></script>
</head>
<body>
  <header class="header">
    <h1 class="header__logo">
      <img src="img/logo.svg" alt="logo">
    </h1>
  </header>

  <main>
    <section class="special">
      <h2 class="special_title">A special, long article in a newspaper or magazine</h2>
      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      <p>テキストテキストテキストテキストテキストテキストテキストテキスト</p>
      <div class="picturebox">
        <a href="#">
          <img src="img/magazine-archive.jpg" class="picturebox_picture"/>
          <div class="picturebox_picture_textbox">
            <h3>Achive</h3>
            <p>テキストテキストテキストテキスト</p>
            <p>テキストテキストテキスト</p>
          </div>
        </a>
        <a href="#">
        <img src="img/magazine-new.jpg" class="picturebox_picture"/>
          <div class="picturebox_picture_textbox">
            <h3>New</h3>
            <p>テキストテキストテキストテキスト</p>
            <p>テキストテキストテキスト</p>
          </div>
        </a>
      </div>
    </section>
    <section class="fashionstyle">
      <h2 class="fashionstyle_title">Fashion & Style</h2>
      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      <p>テキストテキストテキストテキストテキストテキストテキストテキスト</p>
      <a href="#">Read More</a>
    </section>
    <section class="display">
      <div class="catalog">
        <div class="catalog_picture">
          <img src="img/catalog.jpg" alt="catalog">
        </div>
        <div class="catalog_text">
          <h2>Catalog</h2>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
      </div>
      <div class="antique">
        <div class="antique_picture">
          <img src="img/antique.jpg" alt="antique">
        </div>
        <div class="antique_text">
          <h2>Antique</h2>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <a>Read More</a>
        </div>
      </div>
    </section>
    <section class="title">
      <div class="title1">
        <a href="main.html">
          <img src="img/logo.svg" alt="logo">
        </a>
      </div>
      <div class="title2">
        <h2>タイトル</h2>
        <ul>
          <li>テキストテキストテキスト</li>
          <li>テキストテキストテキスト</li>
          <li>テキストテキストテキスト</li>
          <li>テキストテキストテキスト</li>
          <li>テキストテキストテキスト</li>
        </ul>
      </div>
      <div class="title3">
        <h2>タイトルタイトルタイトル</h2>
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </section>
  </main>
  <footer>
    <p>© Mag88</p>
  </footer>

</body>

</html>